@import "../../styles/globalvar";

.our-works {
  max-width: 1600px;
  width: 100%;
  height: 740px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__container {
    max-width: 960px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
  }

  &__title {
    margin-left: 10px;
    font-size: 22px;
    font-family: $FPD;
    font-weight: 700;
  }

  &__link {
    display: flex;
    color: #413d4b;
    margin-right: 10px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 100;
  }

  &__arrow {
    width: 30px;
    height: 15px;
    margin-left: 10px;
  }
}

