@import "../../styles/globalvar";

.our-works {
  max-width: 1600px;
  width: 100%;
  height: 740px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__container {
    max-width: 960px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
  }

  &__title {
    margin-left: 10px;
    font-size: 22px;
    font-family: $FPD;
    font-weight: 700;
  }

  &__link {
    display: flex;
    color: #413d4b;
    margin-right: 10px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 100;
  }

  &__arrow {
    width: 30px;
    height: 15px;
    margin-left: 10px;
  }
}

.our-works__items {

  width: 100%;
  min-height: 400px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 266.6px);
  grid-template-rows: repeat(auto-fill, 200px);
  justify-content: center;
}

.our-works__item {
  background-color: grey;
  align-self: stretch;

  &:nth-child(1) {
    background-color: rgb(202, 198, 198);
  }

  &:nth-child(2n) {
    background-color: rgb(68, 66, 66);
  }
  &:nth-child(3n) {
    background-color: rgb(119, 59, 59);
  }
  &:nth-child(4n) {
    background-color: rgb(108, 119, 59);
  }
  &:nth-child(5n) {
    background-color: rgb(92, 59, 119);
  }
  &:nth-child(6n) {
    background-color: rgb(201, 159, 98);
  }
}