$backgroundPurple:#382d5e;
$FR:'Roboto', sans-serif;
$FPD:"Playfair Display", serif;
$FHammerOne:'Hammersmith One', sans-serif;
$colorParagraph: rgba(102,102,102,0.8);
$footerColor: rgba(226,225,230, 0.9);
$colorbtn:rgba(0,224,208,0.9);
$commentColor: rgba(223,222,228,0.9);
$colorhref:rgba(0,224,209,1);