@import "../../styles/globalvar";

.btn__main {
  font-family: $FHammerOne;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  color: $colorbtn;
  border: 1px solid #00e0d0;
  min-width: 120px;
  min-height: 40px;
  transition: 0.5s ease-in-out;
  background-color: transparent;
  outline-style: none;
  cursor: pointer;
  margin-top: 50px;
  margin-bottom: 25px;


  &:hover {
    background-color: #f1ecdf;
  }
}