@import "../../styles/globalvar";

.footer {
  width: 100%;
  min-height: 400px;
  background-image: url('../../images/footerbg.png');
  background-size: cover;
  display: flex;
  justify-content: center;

  &__container {
    max-width: 960px;
    width: 100%;
    display: flex;
    font-family: $FR;
    margin: 70px 0 0 0;
  }

  &__block {
    display: flex;
    flex-direction: column;
    width: 33%;

  }

  &__logo {
    width: 130px;
    height: 50px;
  }

  &__paragraph {
    color: $footerColor;
    margin: 30px 0 80px 0;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  &__title {
    color: $footerColor;
    font-size: 13px;
  }

  &__link {
    color: $footerColor;
  }


  &__address-icon {
    width: 16px;
    height: 19px;
    background-image: url('../../images/adress.png');
    background-repeat: no-repeat;
    margin: 0 15px 0 0;

    &.tel {
      background-position: 0 0;
    }

    &.geo {
      background-position: -16px 0;
    }
  }

  &__address-container {
    display: flex;
    margin: 30px 0 0 0;
  }

  &__tel-container {
    display: flex;
    margin: 30px 0;
  }


  &__address {
    color: $footerColor;
    max-width: 245px;
    margin: 0;
    font-style: normal;
  }

  &__tel {
    max-width: 245px;
    margin: 0;
    text-decoration: none;
    color: $footerColor;
  }

  &__form {
    margin: 35px 0 27px 0;
    display: flex;
  }

  &__input {
    font-size: 14px;
    max-width: 210px;
    width: 100%;
    height: 45px;
    margin: 0 10px 0 0;
    padding: 0 15px;
    border: 1px solid rgba(155, 147, 173, 0.5);
    background-color: transparent;
    color: rgba(165, 161, 161, 0.8);

  }

  &__submit-btn {
    width: 70px;
    height: 47px;
    color: #9f98b2;
    background-color: rgb(161, 153, 180);
    outline: 0;
    border: none;
  }

  &__social-items {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }

  &__social-icon {
    width: 35px;
    height: 35px;
    margin: 0 10px 0 0;
    background: url('../../images/social.png') no-repeat;

    &.facebook {
      background-position: 0 -5px;
    }

    &.twitter {
      background-position: -45px -5px;
    }

    &.dribble {
      background-position: -85px -5px;
    }

    &.instagram {
      background-position: -130px -5px;
    }

    &.google {
      background-position: -170px -5px;
    }

    &.youtube {
      background-position: -215px -5px;
    }
  }

  &__copyright {
    color: $footerColor;
    margin-top: 62px;
    text-align: right;
  }

}

@media screen and (min-width: 658px) and (max-width: 990px) {
  .footer {
    text-align: center;

    &__paragraph {
      min-height: 150px;
      margin: 30px 0 0 0;
    }

    &__container {
      flex-direction: column;
      align-items: center;
    }

    &__logo {
      align-self: center;
    }

    &__form {
      align-self: center;
    }

    &__social-items {
      align-self: center;
    }

    &__block {
      max-width: 600px;
      width: 70%;

      &__paragraph {
        min-height: 150px;
        margin: 30px 0 0 0;
      }

      &__copyright {
        text-align: center;
      }
    }

    &__address-container {
      flex-direction: column;
      align-items: center;
    }

    &__tel-container {
      flex-direction: column;
      align-items: center;
    }

    &__items {
      flex-direction: column;
      align-items: center;
    }
  }
}

@media screen and (max-width: 658px) {
  .footer {
    text-align: center;

    &__container {
      flex-direction: column;
      align-items: center;
    }

    &__logo {
      align-self: center;
    }

    &__form {
      align-self: center;
    }

    &__social-items {
      align-self: center;
    }

    &__block {
      max-width: 600px;
      width: 70%;

      &__paragraph {
        min-height: 150px;
        margin: 30px 0 0 0;
      }

      &__copyright {
        text-align: center;
      }

      &__input {
        font-size: 10px;
      }
    }

    &__address-container {
      flex-direction: column;
      align-items: center;
    }

    &__tel-container {
      flex-direction: column;
      align-items: center;
    }

    &__items {
      flex-direction: column;
      align-items: center;
    }

    &__social-items {
      width: 130px;
    }

  }
}





